<% provide(:title, 'About Us') %>
<p></p> 
<link href="stylesheets/custom.css" rel="stylesheet">
<div class="jumbotron">

   <div class="row featurette">
        <div class="col-md-8">
        	<div class="col-md-4">
          	<img class="img-rounded img-responsive" src="images/wzp_009.jpg" alt="Generic placeholder image" width="160" height="160">
       		 </div>
          <h2 class="featurette-heading">韦泽鹏 <small><span class="label label-success"> 动效大师</span></small></h2>

          <h5>毕业于西北大学 本科</h5>
          <h5>生日 1992-3</h5>
          <h5>邮箱 tindle163@163.com</h5>
          <h5>手机 13572107241</h5>
        </div>
        
      </div>   
</div>

<h2>擅长技能<span class="label label-info"></span></h2>
<p>
<span class="label label-success">Android</span>  <span class="label label-danger">Ruby</span>  <span class="label label-warning">英语</span>
</p>
<h2> </h2>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">1. 熟悉Java Android, 擅长架构及UI特效，对Github，Twitter的许多开源项目比较熟悉</a>
  <a href="#" class="list-group-item list-group-item-info">2. 熟悉Ruby On Rails，掌握Bootstrap前端框架</a>
  <a href="#" class="list-group-item list-group-item-info">3. 会用JNI，NDK，反编译过Vine 微视等众多短视频应用，对视频及语音的底层有独特了解</a>
  <a href="#" class="list-group-item list-group-item-warning">4. 懂些Object-C，简单编写过IOS小程序</a>
  <a href="#" class="list-group-item list-group-item-danger">5. 英文CET－6，英语流利，阅读交流无障碍</a>
</div>

<br/>

<h2>个人项目<span class="label label-info"></span></h2>
<hr class="featurette-divider">
<div class="container marketing">

  <!-- MeowMeowBin -->
      <div class="row featurette">
        <div class="col-md-2">
          <img class="featurette-image img-responsive" src="images/meow_logo.png" alt="Generic placeholder image" width="180" height="180">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">喵喵必<small> <span class="label label-success"> 运营中</span></small></h2>
          <hr class="featurette-divider">
          <p class="lead">可以在小米应用市场和360应用市场搜索到</p>
        </div>
        
      </div>

      <br/>
    <!-- Content of GIF -->
      <div class="row ">
        <div class="col-lg-3 ">
          <img class="img-thumbnail" src="images/gif/meow_1.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-thumbnail" src="images/gif/meow_2.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-thumbnail" src="images/gif/meow_3.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          <img class="img-thumbnail" src="images/gif/meow_4.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    <!-- ManYouRen -->
    <br/>
    <br/>
    <br/>
    <br/>

      <div class="row featurette">
        <div class="col-md-2">
          <img class="featurette-image img-responsive" src="images/logo/myr_logo.png" alt="Generic placeholder image" width="180" height="180">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">漫游人 <small><span class="label label-danger"> 停止更新</span> <span class="label label-info">主流安卓市场可下载</span></small></h2>
          <hr class="featurette-divider">
          
          <a class="btn btn-info" href="https://github.com/TindleWei/ManYouRen" target="_blank">Github项目地址
          </a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
        
      </div>

      <br/>
    <!-- Content of GIF -->
      <div class="row ">
        <div class="col-lg-3 ">
          <img class="img-thumbnail" src="images/gif/n5.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

</div>

<!-- ########################## -->

<div class="container marketing">
  <br/>
  <br/>
  <br/>
  <br/>
  <!-- MeowMeowBin -->
      <div class="row featurette">
        <div class="col-md-2">
          <img class="featurette-image img-responsive" src="images/logo/aweek_logo.png" alt="Generic placeholder image" width="180" height="180">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">一周 <small><span class="label label-danger"> 项目停止</span> <span class="label label-info">360应用市场可下载</span></small></h2>
          <hr class="featurette-divider">

          <a class="btn btn-info" href="https://github.com/TindleWei/Aweek-Deprecated" target="_blank">Github项目地址
          </a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
      </div>

      <br/>
    <!-- Content of GIF -->
      <div class="row ">
        <div class="col-lg-3 ">
          <img class="img-thumbnail" src="images/gif/n6.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-thumbnail" src="images/gif/n7.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    <!-- ManYouRen -->
    <br/>
    <br/>
    <br/>
    <br/>

      <div class="row featurette">
        <div class="col-md-2">
          <img class="featurette-image img-responsive" src="images/logo/myj_logo.png" alt="Generic placeholder image" width="180" height="180">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">漫游家 <small><span class="label label-danger"> 项目停止</span> <span class="label label-info">360应用市场可下载</span></small></h2></small></h2>
          <hr class="featurette-divider">
          
          <a class="btn btn-info" href="https://github.com/TindleWei/ManYouJia" target="_blank">Github项目地址
          </a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
        
      </div>
      <br/>
    <!-- Content of GIF -->
      <div class="row ">
        <div class="col-lg-3 ">
          <img class="img-thumbnail" src="images/gif/n8.gif" alt="Generic placeholder image" >
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-thumbnail" src="images/gif/n9.gif" alt="Generic placeholder image" >
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

</div


<!-- Others App-->
<div class="container marketing">
  <br/>
  <br/>
  <br/>
  <br/>
  <!-- MeowMeowBin -->
      <div class="row featurette">
        <div class="col-md-2">
          <img class="featurette-image img-responsive" src="images/logo/camily_logo.png" alt="Generic placeholder image" width="180" height="180">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">Camily <small><span class="label label-default"> 未上线</span></small></h2>
          <hr class="featurette-divider">
          
          <a class="btn btn-info" href="https://github.com/firefistwei/Camily-Pinterest" target="_blank">Github项目地址
          </a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
        
      </div>
  <br/>
  <br/>
  <!-- MeowMeowBin -->
      <div class="row featurette">
        <div class="col-md-2">
          <img class="featurette-image img-responsive" src="images/logo/tower_logo.png" alt="Generic placeholder image" width="180" height="180">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">灯塔 <small><span class="label label-default"> 未上线</span></small></h2>
          <hr class="featurette-divider">
          
          <a class="btn btn-info" href="https://github.com/firefistwei/LightTower-2.0" target="_blank">Github项目地址
          </a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
        
      </div>
  <br/>
  <br/>
      <div class="row featurette">
        <div class="col-md-2">
          <img class="featurette-image img-responsive" src="images/logo/u2b_logo.png" alt="Generic placeholder image" width="180" height="180">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">U2B <small><span class="label label-default"> 未上线</span> <span class="label label-info"> 360全国大学生应用开发大赛24强</span></small></h2>
          <hr class="featurette-divider">
          
          <a class="btn btn-info" href="https://github.com/firefistwei/U2B-2.0" target="_blank">Github项目地址
          </a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
        
      </div>
  <br/>
  <br/>
