<% provide(:title, 'About Us') %>
<p></p> 
<link href="stylesheets/custom.css" rel="stylesheet">
<div class="jumbotron">

   <div class="row featurette">
        <div class="col-md-8">
        	<div class="col-md-4">
          	<img class="img-rounded img-responsive" src="images/djcat2.jpg" alt="Generic placeholder image" width="180" height="180">
       		 </div>
          <h2 class="featurette-heading">韦泽鹏 <small><span class="label label-success"> 动效大师</span></small></h2>

          <h5>毕业于西北大学 本科</h5>
          <h5>生日 1992-3</h5>
          <h5>邮箱 tindle163@163.com</h5>
          <h5>手机 13572107241</h5>
        </div>
        
      </div>   
</div>

<h2>擅长技能<span class="label label-info"></span></h2>
<p>
<span class="label label-success">Android</span>  <span class="label label-danger">Ruby</span>  <span class="label label-warning">英语</span>
</p>
<h4> </h4>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">1. 熟悉Java Android</a>
  <a href="#" class="list-group-item list-group-item-info">2. 熟悉Ruby On Rails</a>
  <a href="#" class="list-group-item list-group-item-info">3. 会用JNI，NDK</a>
  <a href="#" class="list-group-item list-group-item-warning">4. 懂些Object-C</a>
  <a href="#" class="list-group-item list-group-item-danger">5. 英文CET－6，英语流利</a>
</div>