<% provide(:title, 'Contact Us') %>

<link href="stylesheets/custom.css" rel="stylesheet">
</br>
<div class="jumbotron">

   <div class="container">
      <h1>留下你想说的话</h1>
      <p>关于产品的意见，我一定认真听取。</p>
      <p><a class="btn btn-primary btn-lg" role="button">
         留言</a>
      </p>
   </div>
</div>

