<% provide(:title, '') %>
<link href="stylesheets/custom.css" rel="stylesheet">
<link href="stylesheets/carousel.css" rel="stylesheet">
<% provide(:jumbotron, ' 
      <h1>Menkey-League</h1>
      <h4></h4>
      <p>This is an organization of young generation.</p>
      <h2></h2>
      <p>
      <a class="btn btn-primary btn-lg" href="product" role="button">关于联盟 &raquo;</a>
      </p>

  '.html_safe)%>
 <br/>
<!-- It works , button.
  <%= link_to '<button class="btn btn-primary btn-lg" type="button">New Post</button>'.html_safe, product_path %> -->


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
      <div class="row ">
        <div class="col-lg-4 ">
          <img class="img-circle" src="images/angrycat.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>MeowMeowBin</h2>
          <p>This an android app for cats.</p>
          <p><a class="btn btn-primary" href="product" role="button">详细 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/djcat2.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>BigShow</h2>
          <p>A game which you can make your own slots.</p>
          <p><a class="btn btn-primary" href="product" role="button">详细 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/djcat.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Sofar</h2>
          <p>A video platform that is in building.</p>
          <p><a class="btn btn-primary" href="product" role="button">详细 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The First Product. <h6><span class="text-muted">It'll strike your mind.</span></h6></h2>
          <p class="lead">喵喵必中不仅仅有喵星人，还有喵喵Hub，喵喵Mix，喵喵Trans,<br>以及一切你能想到的的喵喵X。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/grummycat.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/captain.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">加入门奇联盟你需要拥有两项能力: Coding & English<br>如果你向往我们要做的事，请告诉我，我会联系你的。</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4">
          <h2 class="featurette-heading">一起并肩作战 <span class="text-muted">My Friends</span></h2>
        </div>
        <div class="col-md-8">
          <img class="featurette-image img-responsive" src="images/avengers.jpg" alt="Generic placeholder image">
        </div>
      </div>

</div>



