<% provide(:title, 'Privacy Policy') %>

<h1>Privacy Policy</h1>
<img class="img-rounded" src="https://twistedsifter.files.wordpress.com/2014/11/heroes-and-villains-as-flemish-portrait-paintings-by-sacha-goldberger-9.jpg" alt="Generic placeholder image" width="480" height="600">